html {
  background: #282c34;
  color: #ffb7b7;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 12rem;
  margin: 0;
}
h1,
h2,
h3 {
  color: #f0f0f0;
}
a {
  color: #ffb7b7;
  margin-bottom: 20px;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
* {
  font-family: "Fira code", sans-serif;
}
#container {
  margin: auto;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid pink; */
}

.column {
  display: flex;
  flex-direction: column;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
  color:#282c34;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color:#282c34;
}
